/* Navbar doesn´t block content */
#conferencia::before,
#oradores::before,
#conviertete::before,
#tickets::before {
  content: "";
  display: block;
  height: 80px;
  margin: -30px 0 0;
}

#lugarYFecha::before {
  content: "";
  display: block;
  height: 48px;
  margin: -30px 0 0;
}

@media (min-width: 1000px) {
  #lugarYFecha::before {
    content: "";
    display: block;
    height: 70px;
    margin: -30px 0 0;
  }
}

/* Style TP Integrador Front End Bootstrap */
.green {
  color: rgb(41, 167, 68) !important;
}
.green:hover {
  color: rgb(5, 188, 5) !important;
}
.white {
  color: white !important;
}
.bg-dark {
  background-color: rgb(53, 58, 64) !important;
}
.card-img {
  filter: opacity(0.4) contrast(1.5) !important;
}

@media (max-width: 645px) {
  #bsasPic {
    height: 75vh;
    object-fit: cover;
  }
  #honoluluPic {
    object-fit: cover;
  }
}
@media (max-width: 415px) {
  #bsasPic {
    height: 100vh;
  }
}
@media (max-width: 350px) {
  #bsasCardText {
    font-size: 0.75em;
  }
}

#buttonLink {
  text-decoration: none !important;
  color: inherit !important;
}
.btn-success {
  background-color: rgb(41, 167, 68) !important;
}
.btn-success:hover {
  background-color: rgb(28, 128, 50) !important;
}

.orador {
  border: none !important;
}
#textArea {
  height: 100px !important;
  resize: none;
}

.ignite {
  color: inherit;
  border-bottom: 1px dotted black;
}

.ignite:hover {
  color: inherit !important;
}
.enviar {
  background-color: rgb(150, 201, 62) !important;
  border: 1px solid rgb(150, 201, 62) !important;
}
.enviar:hover {
  background-color: rgb(41, 167, 68) !important;
  border: 1px solid rgb(41, 167, 68) !important;
}

#footerNavbar .white:hover {
  text-decoration: underline !important;
}

/* Styles TP Integrador JS */
#footerNavbar {
  background: linear-gradient(
    to right,
    rgb(31, 55, 68),
    rgb(30, 82, 112)
  ) !important;
}

#formTicket {
  padding-right: 0 !important;
}

#tickets {
  height: 90vh;
}
#estudiante {
  border: 1px solid dodgerblue;
}
#trainee {
  border: 1px solid darkturquoise;
}
#junior {
  border: 1px solid gold;
}
#descuentos div {
  /*height: 12em;*/
  user-select: none;
}
#descuentos div:hover {
  cursor: pointer;
  transform: translateY(5px);
  transition: 0.3s ease-out;
}
#descuentos div:hover .tituloDescuento {
  text-decoration: underline;
  transition: 0.1s ease-in;
}

#totalPagarText {
  border-radius: 0.375rem;
  color: midnightblue;
  font-weight: 500;
}
